@import "../sass/variables";

.experience-section {
  text-align: center;
  padding: 70px 0 40px 0;
  color: $color-primary-dark;
  background-color: $color-white;
  h2 {
    text-align: left;
    padding-left: 15%;
    color: $color-primary;
  }

  hr {
    margin: 4px;
  }
  .experience-viewer {
    margin: 20px auto 50px auto;
    width: 70%;
    text-align: left;
  }

  .flex-container {
    display: flex;
    height: 100%;
  }

  .nav-panel {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
  }

  .nav-title {
    font-family: "Open Sans:wght@600", sans-serif;
    font-size: 1.76rem;
  }

  .nav-link {
    color: $color-primary-dark;
    border: $color-white solid 1px;
    // border-radius: 5px;
    // height: 100%;
    padding: 0.8rem 1.6rem;
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      $color-primary 50%
    );
    background-size: 220%;
    transition: all 0.3s;

    &.active,
    &:hover {
      // background-color: #00587a;
      color: $color-white;
      background-position: 100%;
      //   transform: translateX(1rem);
    }
  }

  .vl {
    border-left: 1px solid #0f3057;
  }

  .content-container {
    height: 425px;
    h3 {
      color: $color-primary;
    }
    a {
      color: #0f3057;
    }

    .float-left {
      float: left;
    }

    .float-right {
      float: right;
    }

    .experience-bullets {
      padding: 10%;
    }

    .experience-bullets .bold {
      font-weight: bold;
    }
  }
}
