.nav-bar {
    background-color:#e7e7de;
}

.nav-bar .nav-link.active {
    background-color:  #e7e7de;
}

@media (min-width: 990px) {
    .nav-links {
        position: absolute;
        right: 10px;
    }

    .nav-link {
        margin-left: 20px;
    }
}