#contact-me {
  background-color: #e7e7de;
  text-align: center;
  color: #00587a;
  padding: 6% 0 6%;
  margin-bottom: 0;
}

#contact-me a {
  color: #00587a;
}

#contact-me .icon {
  margin: 30px 50px 0;
}

#contact-me .icon:hover {
  filter: grayscale(60%);
}
