@import "../sass/variables";

#contact-me {
  background-color: $color-white;
  text-align: center;
  color: $color-primary;
  padding: 6% 0 6%;
  margin-bottom: 0;

  a {
    color: $color-primary;
    svg g g path:first-of-type {
      fill: $color-primary;
    }
  }

  .icon {
    margin: 30px 50px 0;
  }

  .icon:hover {
    color: $color-primary-light;
    g g path:first-of-type {
      fill: $color-primary-light;
    }
  }

  .MuiSvgIcon-fontSizeLarge {
    font-size: 3.5rem;
  }
}
