.about-me-section {
    background-color: #00587a;
    /* padding: 20%; */
    color: #e7e7de;
    /* height: 600px; */
}

.about-me-section h2 {
    margin-bottom: 30px;
    font-size: 2.2em;
}

.about-me-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 30px 80px 20px;
}