@import "../sass/global";
@import "../sass/variables";

#projects {
  text-align: center;
  background-color: #00587a;
  color: #e7e7de;
  padding: 0 10% 10%;
  font-size: 1.6rem;

  * {
    backface-visibility: hidden;
  }

  .MuiTypography-body1 {
    font-family: "Open Sans", sans-serif;
    font-size: $default-font-size;
    color: $color-primary-dark;
  }

  h2 {
    margin: 0 auto 60px;
    padding-top: 7%;
  }

  .MuiAccordion-root {
    background-color: #008891;
    color: #e7e7de;
  }

  .accordian-summary.Mui-expanded {
    box-shadow: 0px 4px 3px -3px grey;
  }

  .accordian-details {
    background-color: #e7e7de;
    color: #0f3057;
  }

  .description-column {
    position: relative;
    width: 100%;
    // height: 100%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;

    .project-title {
      padding-top: 4rem;
      color: #00587a;
    }

    .project-description {
      padding: 2rem 0 7rem;
      margin-bottom: 0;
    }

    .project__links {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      > a {
        color: #008891;
        margin-right: 2rem;
        .MuiSvgIcon-fontSizeLarge {
          font-size: 3.5rem;
        }
      }
    }

    // .devpost {
    //   color: #008891;
    //   position: absolute;
    //   bottom: 22px;
    //   left: 55px;
    // }

    // .github {
    //   color: #008891;
    //   position: absolute;
    //   bottom: 30px;
    // }

    // .play-store {
    //   color: #008891;
    //   position: absolute;
    //   bottom: 27px;
    //   left: 60px;
    // }

    a:hover {
      filter: grayscale(50%);
    }
  }

  .media-column {
    text-align: center;
  }

  .media-column img {
    height: 300px;
  }

  .spotifind-carousel {
    padding-top: 5%;
    max-width: 500px;
    margin: auto;
  }

  .faceup-video {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    display: inline-block;
    border: none;
  }

  .mediband-img {
    height: 90%;
    margin: 5% auto 5%;
  }

  .grocery-img {
    margin-top: 9%;
  }

  .MuiTypography-h6 {
    font-size: 2rem;
  }
}
