@import "../sass/global";
@import "../sass/variables";
@import "../sass/mixins";

#projects {
  text-align: center;
  background-color: #00587a;
  color: #e7e7de;
  padding: 0 10% 10%;
  font-size: 1.6rem;

  * {
    backface-visibility: hidden;
  }

  .MuiIconButton-root {
    font-size: 2.4rem;
    .MuiSvgIcon-root {
      font-size: 2.4rem;
    }
  }

  .MuiTypography-body1 {
    font-family: "Open Sans", sans-serif;
    font-size: $default-font-size;
    color: $color-primary-dark;
    width: 100%;
  }

  h2 {
    margin: 0 auto 60px;
    padding-top: 7%;
  }

  .MuiAccordion-root {
    background-color: #008891;
    color: #e7e7de;
  }

  .accordian-summary.Mui-expanded {
    box-shadow: 0px 4px 3px -3px grey;
  }

  .accordian-details {
    background-color: #e7e7de;
    color: #0f3057;
  }

  .description-column {
    position: relative;
    width: 100%;
    text-align: left;
    padding-left: 2%;
    padding-right: 2%;

    .project-title {
      padding-top: 4rem;
      color: #00587a;
    }

    .project-description {
      padding: 2rem 0 7rem;
      margin-bottom: 0;
    }

    .project__links {
      position: relative;
      margin-bottom: 2rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;

      > a {
        color: #008891;
        margin-right: 2rem;
        .MuiSvgIcon-fontSizeLarge {
          font-size: 3.5rem;
        }
      }
    }

    a:hover {
      filter: grayscale(50%);
    }
  }

  .media-column {
    text-align: center;
    @include respond(phone) {
      // width < 575?
      order: -1;
      min-height: 150px;
    }
  }

  .media-column > img {
    max-height: 300px;
    max-width: 100%;
    &.watopoly-gif {
      width: 90%;
      max-width: 500px;
      margin: auto;
    }
    @include absCenter;
    @include respond(phone) {
      height: 90%;
    }
  }

  .spotifind-carousel {
    padding-top: 5%;
    width: 90%;
    max-width: 500px;
    margin: auto;
    @include absCenter;
  }

  .MuiTypography-h6 {
    font-size: 2rem;
  }
}
